
.hover-button {
  background-color: rgb(35, 176, 131);
  color: white;
  border: none;
  padding: 10px 20px;
  transition: padding 1s,
  font-size 1s;
  cursor: pointer;
}

.hover-button:hover{ 
  font-size: 25px;
  padding: 30px 60px;
}
