.header {
    display: flex;
    flex-direction: row;
    height: 60px;
   
    justify-content: space-between;
}

.ana-e-majte { 
     background-color: lightgreen;
     width: 150px;
}

.qendra{ 
    background-color: lightblue;
    flex: 1;
    margin-left: 70px;
    margin-right: 30px;
    max-width: 400px;
}

.kerkuesi { 
    font-size: 16px;
}

.ana-e-djathte{
    background-color: lightgreen;
    width: 200px;
}